body {
  background-color: antiquewhite;
}

.main-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.game-genius {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin-top: 170px;
}

.btn-game {
  width: 300px;
  height: 300px;
}

.top-left-green {
  background-color: green;
  border-top-left-radius: 100%;
}

.top-left-green:active {
  background-color: lightgreen;
}

.top-right-yellow {
  background-color: yellow;
  border-top-right-radius: 100%;
}

.top-right-yellow:active {
  background-color: lightyellow;
}

.bottom-left-red {
  background-color: red;
  border-bottom-left-radius: 100%;
}

.bottom-left-red:active {
  background-color: rgb(233, 105, 105);
}

.bottom-right-blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.bottom-right-blue:active {
  background-color: lightblue;
}

.game-menu-center {
  position: absolute;
  background-color: antiquewhite;
  width: 280px;
  height: 280px;
  border: solid 10px rgb(53, 48, 48);
  border-radius: 100%;
}
